* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Header-styling */
.main-header{
  background-color: #1a1a1a;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 2px 5px;

  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-header .container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links a{
  color:#fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover{
  color: #00ff99;
}




body {
  background-color: #f2f4f8;
  background-image: url('../image/back.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.logout {
  position: absolute;
  top: 100px;
  right: 40px;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.3s;
}

.logout:hover {
  background-color: #c0392b;
}



.profile {
  background: white;
  padding: 20px;
  border-radius: 10px; 
  position: center;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 200px;
  
}
.welcome {
  color: #333;
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #ddd;
}
